ENV="development"
APP_NAME="go-api-template"
HTTP_ADDRESS="localhost"
HTTP_PORT="8080"
HTTP_ALLOW_ORIGIN="*"
REDIS_URL="redis://default:password@localhost:6379/0"
POSTGRES_URL="postgres://postgres:postgres@localhost:5432/main?sslmode=disable"
KAFKA_BROKER="KAFKA_BROKER"
KAFKA_SSL="KAFKA_SSL"
KAFKA_USERNAME="KAFKA_USERNAME"
KAFKA_PASSWORD="KAFKA_PASSWORD"
KAFKA_GROUP_ID="KAFKA_GROUP_ID"
KAFKA_CLIENT_ID="KAFKA_CLIENT_ID"
KAFKA_NOTIFICATION_ERROR_EMAIL="KAFKA_NOTIFICATION_ERROR_EMAIL"