APP_NAME="go-scaffold"
PORT="8080"
MONGODB_URL="mongodb://localhost:27017"
MONGODB_NAME="main"
REDIS_URL="redis://default:password@localhost:6379/0"
POSTGRES_URL="postgresql://dhanielr94:Du0BASkhb1CU@ep-steep-star-a52ulenf.us-east-2.aws.neon.tech/main?sslmode=require"
EXTERNAL_URL="http://localhost:3000/"
