PORT="8080"
MONGODB_URL="mongodb://localhost:27017"
MONGODB_NAME="main"
REDIS_URL="redis://default:password@localhost:6379/0"
POSTGRES_URL="postgres://postgres:postgres@localhost:5432/main?sslmode=disable"
